# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project specific
/.vs/
/wscript
/waf
/tests/
/modules/
/libraries/
/docs/
/benchmarks/
/Tools/
/Rover/
/Blimp/
/ArduSub/
/ArduPlane/
/ArduCopter/
/AntennaTracker/
/.valgrind-suppressions
/.valgrindrc
/.pre-commit-config.yaml
/.pydevproject
/.gitmodules
/.github/
/.git-blame-ignore-revs
/.gitattributes
/.flake8
/.editorconfig
/.dir-locals.el
/.dockerignore
/Dockerfile
/Makefile
/Doxyfile.in
/COPYING.txt
/CODE_OF_CONDUCT.md
/BUILD.md
/Vagrantfile

pyproject.toml